@model CategoryResponsePageVm
<table class="table table-hover">

    <thead>
        <th>ID</th>
        <th>Kategori İsmi</th>
        <th>Açıklama</th>
    </thead>
    <tbody>
        @foreach (CategoryResponseModel item in Model.Categories)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
            </tr>
        
        }
    </tbody>
</table>